/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .editor-styles-wrapper .wp-block.wp-block-fbs-blocks-pricing-table{
    max-width: 60rem;;
 }

 .wp-block-fbs-blocks-pricing-table .fbs-pricing-table {
   padding-bottom: 50px;
 }

 .fbs-pricing-table ul.block-editor-rich-text__editable.rich-text {
   margin: inherit;
   padding: 0;
}